/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Import cerulean variables
@import "bootswatch/paper/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px;
			 font-family: 'Playfair Display', serif;
			 }

// And finally bootswatch style itself
@import "bootswatch/paper/bootswatch";
// Font awesome
@import "font-awesome.css";

// Whatever application styles you have go last

// ADMIN STYLES

.admin-panel {
		padding-top: 25px;
}

.admin-site-content h1 {
	margin-top: 0px;
}

.admin-site-content h2 {
	margin-top: 0px;
}

.publish-btn {
	width: 100%;
}

.index-add-btn { 
	width: 70%;
	margin-top: 15px;
}

//EDIT STYLE
.img-preview {
	width: 100px;
}



.nav-image {
	padding-top: 0;
}

.nav-image img {
	width: 200px;
}

.nav {
	font-size: 22px;
}

.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover {
		color: #212121;
    background-color: #eeeeee;
}

.navbar-default .navbar-nav > li > a:focus {
		color: #212121;
    background-color: #eeeeee;
}

.navbar-default .navbar-nav > li.active > a:hover {
		color: #ffffff;
    background-color: rgba(255, 255, 255, 0)
}


.song-container {
	padding: 15px;
	padding-top: 0px;
	text-align: center;
}

.footer {
    bottom: 0;
    width: 100%;
    min-height: 60px;
    height: 100%;
   background-color: #f5f5f5;
}

.td.player {
	font-family: 'Playfair Display', serif !important;
}

.td.player.dark {
	background: #242424;
	}

.pagination {
	margin-bottom: 0px;
  .previous_page { color:black }
   .previous_page:hover { color: #7B7B7B; }
  .previous_page.disabled { color: grey; }
  .next_page {  color: black; }
  .next_page:hover { color: #7B7B7B; }
  .next_page.disabled { color: grey; }
  a { padding-right: 5px; padding-left: 5px; }
}

.paginated_nav {
	text-align: right;
}

.pagination-all {
	color: black;
	text-decoration: none;
}

.pagination-all:hover {
	color: #7B7B7B;
	text-decoration: none;
}

.song-heading {
	border-bottom: 2px solid #8A8A8A;
	margin-right: 1%;
	margin-left: 1%;
	margin-bottom: 2%;
}

.song-container {
	img {
	background-size:100% auto;
	-webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
	}
}

.song-art:hover {
	opacity: 0.4;
}

.song-description {
	display: block;
 	margin: 0 auto;
	padding: 3%;
	max-width: 500px;
	background-color: #242424;
	text-align: left;
	color: white;
	a {
		color: white;
	}
	a:hover {
		text-decoration: none;
		color: #BBBBBB;
	}
	p {
		margin: 0;
	}
}

img.center {
    display: block;
    margin: 0 auto;
}


.contact-container {
	background-color: #F5F5F5;
	padding: 2%;
}

.contact-button{
	height: 20%;
	button {
		width: 80%;
		display: block;
    margin: 0 auto;
    background-color: #242424;
    color: white;
    border: 1px white solid;
	}
		button:hover {
    background-color: white;
    color: #242424;
    border: 1px black solid;
	}
		button:focus {
			background-color: white;
    	color: #242424;
		}
}



