<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #242424;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand nav-image" do %><%= image_tag('pv_logo_white.png', class: "img-responsive")%><% end  %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><%= site_nav_link "Songs", songs_path, 'songs' %> </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>